<%= month_calendar events: @distance_logs do |date, distance_logs| %>
  <div class="calendar-date-container">
    <span class="calendar-date"><%= date.day %></span>
    <%= link_to new_distance_log_path(start_time: date), class: 'calendar-link' do %>
      <i class="fa-solid fa-person-running"></i>
    <% end %>
    <div class="calendar-event">
      <% if distance_logs.present? %>
        <% distance_logs.each do |distance_log| %>
          <div>
            <%= "⭐️#{distance_log.distance}km" %>
            <span class="delete-container">
              <%= button_to distance_log_path(distance_log), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn delete-button' do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

