<header class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"　style="position: fixed; top: 0; width: 100%;">
  <div class="d-flex justify-content-between">
    <div class="float-md-start mb-0 ">
    <%= link_to "OHENRO_RUN", "/" %>
    </div>
    <nav class="nav nav-masthead justify-content-center">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">メニュー</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to "プロフィール", profile_path %>
              </li>
              <li class="nav-item">
                <%= link_to "現在地", current_location_show_path %>
              </li>
              <li class="nav-item">
                <%= link_to "実績", achievements_path  %>
              </li>
              <li class="nav-item">
                <%= link_to "利用規約", terms_path %>
              </li>
              <li class="nav-item">
                <%= link_to "プライバシーポリシー", policy_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>