<header class="color-main d-flex w-100 p-3 mx-auto justify-content-between">
  <div>
    <%= link_to "OHENRO_RUN", "/", class: "link-main" %>
  </div>
  <nav class="nav nav-masthead align-items-center">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <%= link_to current_location_show_path, class: "link me-3" do %>
          <i class="fa-solid fa-location-dot"></i> 現在地
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to achievements_path, class: "link me-3" do %>
        <i class="fa-solid fa-trophy"></i> 実績
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to profile_path, class: "link me-3" do %>
        <i class="fa-solid fa-user"></i> プロフィール
        <% end %>
      </li>
      <li class="nav-item">
        <% if logged_in? %>
        <%= link_to logout_path, method: :delete, class: "link" do %>
        <i class="fa-solid fa-right-from-bracket"></i> ログアウト
        <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>