<header class="color-main d-flex w-100 p-3 mx-auto justify-content-between">
  <div>
    <%= link_to "OHENRO_RUN", "/", class: "link-main" %>
  </div>
  <nav class="nav nav-masthead align-items-center">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <%= link_to "現在地", current_location_show_path, class: "link me-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "実績", achievements_path, class: "link me-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "プロフィール", profile_path, class: "link me-3" %>
      </li>
      <li class="nav-item">
        <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: "link" %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>